# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/
*.egg-info/

# Scraping / Process Data Files
*.csv
*.json
*.xlsx
*.log

# Specific output patterns
pddikti_*_raw.csv

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
